# macOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
*.pyc
.venv/
.env

# Node (if ever used)
node_modules/

# JetBrains
.idea/
**/.idea/
.DS_Store

# Local artifacts
dump.sql
smart_parking.db
.DS_Store
.idea/
static/.idea/
